div#dragHelper {
  overflow: visible !important;
}

.item-list ul.incomplete {
  position: relative;
  padding: 2px 0;
}

ul.list li,div.item-list ul.list li,div#dragHelper li {
  background: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

div#dragHelper .nub,ul.list .nub {
  background: url(images/nub.png) no-repeat;
  color: red;
  font: normal 10px/11px "Lucida Grande", verdana, arial, helvetica, sans-serif;
  height: 26px;
  padding: 7px;
  position: absolute;
  z-index: 99999;
}

ul.list .nub a,div#dragHelper .nub a {
  color: red;
  display: block;
  float: left;
  height: 11px;
  text-decoration: underline;
}

ul.list div.nub a.delete,div#dragHelper .nub a.delete {
  background: url(images/delete.gif) no-repeat;
  font-size: 0;
  line-height: 0;
  margin: 1px 4px 0 0;
  text-indent: -9999px;
  width: 10px;
}

ul.list div.nub a.edit,div#dragHelper .nub a.edit {
  margin: 0 4px 0 0;
}

ul.list div.nub a.reorder,div#dragHelper .nub a.reorder {
  background: url(images/reorder.gif) no-repeat;
  cursor: move;
  font-size: 0;
  line-height: 0;
  margin: 1px 0 0;
  text-indent: -9999px;
  width: 11px;
}

ul.list.complete li.task {
  color: #9c9a9c;
  font-size: 10px;
  margin: 0 0 1px;
}

ul.list.complete li.task input {
  float: left;
}

ul.list.complete li.task a.delete {
  background: url(images/delete.gif) no-repeat;
  display: block;
  float: left;
  font-size: 0;
  height: 11px;
  line-height: 11px;
  margin: 4px 4px 0;
  padding: 0;
  text-indent: -9999px;
  width: 10px;
}

ul.list.complete li.task span {
  color: #636563;
  margin-right: 5px;
}

ul.list .loading {
  background: url(images/loading.gif) no-repeat 0 10px !important;
  text-indent: -9999px !important;
}